{% extends "base.html" %}

{% block body_class %}homepage{% endblock %}

{% block content %}
    <div id="app"></div>
{% endblock %}
{% block extra_js %}
    {% if data_json %}
        <script type="text/javascript">
            app.useClient({
                token: '{{ csrf_token }}',
                sections: JSON.parse('{{ data_json | safe }}'),
                page_info: JSON.parse('{{ page_info | safe }}')
            }, 'app')
        </script>
    {% else %}
        <script type="text/javascript">
            app.useClient({
                token: '{{ csrf_token }}'
            }, 'app')
        </script>
    {% endif%}
{% endblock %}
