{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load lesbois_tags %}

{% block body_class %}blog{% endblock %}

{% block content %}
    <div class="container grid-xl">
        <h1 class="title">{{ page.title }}</h1>
        <div class="intro">
            {{ page.intro|richtext }}
        </div>

        <div class="children">
            <div class="columns">
                {% for post in page.get_children %}
                    <div class="column col-4">
                        <img src="{% photo_url post.specific.cover %}" class="img-responsive">

                        <h2><a href="{% pageurl post %}">{{ post.title|truncatechars:50 }}</a></h2>
                        {{ post.specific.intro }}
                        {{ post.specific.body|truncatechars:10|richtext }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        console.log("blog page")
    </script>
{% endblock %}
