<div class="container grid-xl">
    <header class="navbar">
        <section class="navbar-section navbar-brand-section">
            <img src="/static/img/logo-flipped.png" />
        </section>

        <section class="navbar-section navbar-menu-section">
            <a href="/" class="btn btn-link">HOME</a>
            <a href="/#what-we-do" class="btn btn-link">WHAT WE DO</a>
            <a href="/#about" class="btn btn-link">ABOUT</a>
            <a href="/#team" class="btn btn-link">TEAM</a>
            <a href="/#partners" class="btn btn-link">PARTNERS</a>
            <a href="/#daily" class="btn btn-link">DAILY</a>
            <a href="/blog" class="btn btn-link">BLOG</a>
            <a href="/careers" class="btn btn-link">CAREER</a>
        </section>
    </header>
</div>
