
.navbar {
    &-brand {
        overflow: hidden;
        height: 33px;
        img {
            display: block;
        }
    }
    &-container {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999999;
        &.switched {
            background: #fff;
            a.navbar-brand {
                img {
                    animation-name: flip;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;
                }
            }
            .navbar-menu {
                li {
                    a {
                        animation-name: changeColor;
                        animation-duration: .5s;
                        animation-fill-mode: forwards;
                        animation-direction: normal;
                    }
                }
            }

        }
    }
    &-menu {
        margin: 0;
        padding: 0;
        &-item {
            @media only screen and (max-width: $size-sm) {
                display: block;
                float: none;
            }
            display: inline-table;
            margin: 0;
            a {
                display: block;
                padding: 25px 10px;
                color: #fff;
                opacity: .8;
                letter-spacing: 1px;
                &:any-link {
                    text-decoration: none;
                }
            }
            &:last-child {
                a {
                    padding: 25px 0 25px 10px;
                }
            }
        }
    }
    &-section {
        @media only screen and (max-width: $size-sm) {
            width: 100%;
            flex: auto !important;
            &:first-child {
                padding: 25px;
            }
            &:last-child {
                justify-content: flex-start !important;
            }
        }
    }
}

@keyframes changeColor {
    from {
        color: #fff;
    }
    to {
        color: $primary-color;
    }
}

@keyframes flip {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-33px);
    }
}
